# Gradle
.gradle/
build/

# Local configuration
local.properties
signing/signing-config.properties

# IDE
.idea/
*.iml

# Android Studio
*.apk
*.ap_
*.aab

# Signing
*.jks
*.keystore
key.properties

# Misc
.DS_Store
build.log
.cxx/
